
    body {
            background-image: url('images/pitem2.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            font-family: Arial;
    }
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        box-sizing: border-box; 
        position: absolute;
        top: 80%;
        float: fixed;
        left: 30%;
    }

    ul li {
        float: right; 
        width: 200px;
        height: 40px;
        background-color: whitesmoke; 
        opacity: .8;
        line-height: 40px;
        text-align: center;
        font-size: 20px; 
        margin-right: 3px;
    
    }
    ul li a {
        text-decoration: none;
        color: black;
        display: block;
    }
    ul li a:hover {
        background-color: green;
    }
    ul li ul li {
          Display: none; 
    }
    ul li:hover ul li {
        display: block; 
    }  
    h1 {
        text-align: center;
        color: whitesmoke;
        font-size: 70px;
        font-family: 'Times New Roman', Times, serif;  
        background-image: url(images/images.jpg);
        }
    h6 {
        padding: 0;
        margin: 15%;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(230, 213, 213);
        width: 44;   
    }
    h5 {
        padding: 0%;
        margin: -10%;
        text-align: center;
        color: black;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        background-color: rgb(230, 213, 213);
        width: -8;
    }
    forms { 
        position: absolute;
        text-align: center;
        font-size: 30px;
        color: whitesmoke;
        margin: 10%;
        font-family: 'Times New Roman', Times, serif;
        top: 5%;
        right: 25%;
        
    }
    div 
    {
    position: center;
    right: 20%;
    line-height: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    width: 0;
    padding: 0%;
    margin-right: 100;
}  